---
layout: default
---
{
    "layers":
    {
        {% for layer in page.layers %}"{{ layer.id }}":
        {
            {% assign type_dc = layer.type | downcase %}
            "name": "{{ layer.name }}",
            "classification": "{{ layer.classification }}",
            "description": "{{ layer.description }}",
            "type": "{{ layer.type }}"{% if type_dc == "osm" %}{% else %},
            "projection": "{{ layer.projection }}",
            "minZoom": "{{ layer.minZoom }}",
            "maxZoom": "{{ layer.maxZoom }}",
            "url": "{{ layer.url }}",
            "select": "{{ layer.select }}",
            "popup": "{{ layer.popup }}"
            {% endif %}
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}
    }
}
